.post-list-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.post-list {
    width: inherit;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;

    padding: 15px;
    margin: 0px 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
    
    list-style: none;
}

.post {
    width: 95%;
    border-radius: 1em;
    background-color: #313131;
    padding: 2em 1em;
    margin: .7em 0;
    cursor: pointer;

    transition: 0.2s;
    position: relative;
    text-decoration: none;
}

.post:hover{
    background-color: #000;
    border: 1px solid #1ED760;
    width: 99%;
    padding: 3em 2em;
}

.post-title {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.post-text {
    color: #d0d0d5;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: .3em 0;
}

.post-date {
    color: #d0d0d5;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    float: right;
    padding-right: 5px;
}