#header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91%;
    height: 7em;
    background: #313131;
    margin: 0.3em 0;
    border-radius: 1em;
    transition: 0.2s;
}

#header:hover {
    background: #000 !important;
    border: 1px solid #1ED760;
}

#header div{
    padding: .2em;
    margin: 0 2em;
}

#header div h1 a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    color: #eee;
}